<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link th:href="@{/css/style-starter.css}" rel="stylesheet"/>
    <!-- Google fonts -->
    <link th:href="@{//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap}" rel="stylesheet">

</head>
<body>
<div th:insert="header"> </div>
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title">About Us</h2>
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About Us</li>
        </ul>
    </div>
</section>
<section class="w3l-about py-5" id="about">
    <div class="container py-lg-5 py-md-3">
        <div class="about-block">
            <h6 class="title-small">About company</h6>
            <h3 class="title-big">We are qualified & of experience in this field.</h3>
            <p class="mt-md-4 mt-3">

                Trust will be gained from consumers through the genuine support given by our skilled and dedicated service staff.
                We are committed to deliver our service values and we are proud of our customized service.
            </p>
            <a href="#url" class="img-height">
                <img src="assets/images/ab.jpg" alt="" class="radius-image img-fluid mt-md-5 mt-4">
            </a>
        </div>
    </div>
    </div>
</section>




</body>
</html>