<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service Booking</title>
    <link th:href="@{/css/style-starter.css}" rel="stylesheet"/>
    <!-- Google fonts -->
    <link th:href="@{//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap}" rel="stylesheet">

</head>
<div th:insert="header"> </div>

<br><br><br><br> <br><br>
<div align="center">
    <div class="col-lg-5 col-sm-10 mt-lg-9 mt-md-6 mt-7" >

    <div>
        <h1> Service Booking </h1>

    </div>

    <br>
    <form action="#" th:action="@{/book_process}" th:object="${book}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="form-style-w3ls">
        <div>


            <input placeholder="Your Email" type="email" th:field="*{email}"  required />
        </div>

        <div>


            <input placeholder="Vehicle Number" type="text" th:field="*{vehicleno}"
                   required minlength="4" maxlength="20"  />
        </div>

        <div>


            <input placeholder="Vehicle Type" type="text" th:field="*{vehicletype}"
                   required minlength="2" maxlength="20" />
        </div>

        <div>
            <input  placeholder="Service Type" type="text" th:field="*{servicetype}" list="servicetypes" required minlength="1" maxlength="50">
            <datalist id="servicetypes">
                <option value="Vehicle Wash">
                <option value="Interior and Exterior detaling">
                <option value="Full Service">
                <option value="Hybrid Service">
                <option value=" Wheel Alignment">
                <option value=" Other Specialized services">
            </datalist>
        </div>

        <div>


            <input placeholder="Service Date" type="date" th:field="*{date}"
                   required minlength="1" maxlength="20" >
        </div>
         <div>

            <input placeholder="Service Time" type="text" th:field="*{time}" list="timeslots" required minlength="1" maxlength="10">

             <datalist id="timeslots">
                 <option value="10am-11am ">
                 <option value="11am-12pm">
                 <option value="13pm-14pm ">
                 <option value="14pm-15pm ">
                 <option value="15pm-16pm">
             </datalist>
        </div>


        <button class="btn btn-style btn-primary w-30" type="submit">Book</button>

            </div>
    </form>


</div>
</div>

<br><br><br><br>

<div th:insert="footer"> </div>
<!-- // footer -->


<script th:src="@{/js/jquery-3.3.1.min.js}"></script> <!-- Common jquery plugin -->

<script th:src="@{/js/theme-change.js}"></script><!-- theme switch js (light and dark)-->

<!-- magnific popup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>
<!-- magnific popup -->

<script src="@{/js/owl.carousel.js}"></script>
<!-- script for tesimonials carousel slider -->
<script>
    $(document).ready(function () {
        $("#owl-demo1").owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 2,
                    nav: false,
                    loop: false
                }
            }
        })
    })
</script>
<!-- //script for tesimonials carousel slider -->

<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- //bootstrap-->

</body>
</html>