<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Our Services</title>
    <link th:href="@{/css/style-starter.css}" rel="stylesheet"/>
    <!-- Google fonts -->
    <link th:href="@{//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap}" rel="stylesheet">

</head>
<body>
<div th:insert="header"> </div>
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title">Services</h2>
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> services</li>
        </ul>
    </div>
</section>
<section class="w3l-servicesblock py-5" id="">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6 about-right-faq align-self">
                <span class="title-small mb-2">Reliable services</span>
                <h3 class="title-big">Car servicing and repairs</h3>
                <p class="mt-lg-4 mt-3 mb-lg-5 mb-4">We value our clients and offer a personal, professional service.
                    We strive to provide the best quality services at affordable prices by making our brand a consumer's first choice for automobile product and service supports.
                    Trust will be gained from consumers through the genuine support given to them by our skilled and dedicated service staff.
                    We are committed to deliver our service values and we are proud of our customized service.</p>
                <div class="progress-info info1">
                    <h6 class="progress-tittle">Quality Services <span class="">80%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
                             aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info2">
                    <h6 class="progress-tittle">Experienced technicians <span class="">95%</span>
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
                             aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info info3">
                    <h6 class="progress-tittle">Long term warranty <span class="">75%</span></h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%"
                             aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 left-wthree-img mt-lg-0 mt-4">
                <img th:src="@{assets/images/services.jpg}" alt="" class="img-fluid radius-image">
            </div>
        </div>
    </div>
</section>
<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 py-5">
    <div class="container py-lg-5 py-md-4">
        <h6 class="title-small text-center">Our Services</h6>
        <h3 class="title-big mb-md-5 mb-4 text-center">Great Car Service</h3>
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-car"></span>
                    <h4><a href="#feature" class="title-head">Vehicle Wash</a></h4>

                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-plug"></span>
                    <h4><a href="#feature" class="title-head"> Hybrid Service</a></h4>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-wrench"></span>
                    <h4><a href="#feature" class="title-head"> Wheel Alignment</a></h4>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
                <div class="area-box">
                    <span class="fa fa-plug"></span>
                    <h4><a href="#feature" class="title-head">Interior and Exterior Detaling</a></h4>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
                <div class="area-box">
                    <span class="fa fa-wrench"></span>
                    <h4><a href="#feature" class="title-head">Other Specialized Services</a></h4>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
                <div class="area-box">
                    <span class="fa fa-car"></span>

                    <h4><a href="#feature" class="title-head">Full Service</a></h4>
                    <P> </P>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->


</body>
</html>