<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <!-- Google fonts -->
    <link th:href="@{//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap}" rel="stylesheet">

    <!-- Template CSS -->
    <link th:href="@{/css/style-starter.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header"> </div>

<!-- //header -->

<br><br><br><br><br><br>
<div align="center">

        <div class="col-lg-5 offset-lg-1 col-md-8 col-sm-10 mt-lg-0 mt-md-5 mt-4" >
        <div>
            <h1> Sign Up</h1>
        </div>
    <br>

        <form action="#" th:action="@{/process_register}" th:object="${user}"
              method="post" style="max-width: 600px; margin: 0 auto;" >
            <div class="form-style-w3ls">
                <div>


                        <input type="email" placeholder=" Email" th:field="*{email}"  required />
                    </div>


                <div>


                        <input type="password" placeholder="password" th:field="*{password}"
                               required minlength="6" maxlength="10"/>
                    </div>


                <div>


                        <input type="text" placeholder="First Name" th:field="*{firstName}"
                               required minlength="2" maxlength="20"/>
                    </div>


                <div>


                        <input type="text" placeholder="First Name" th:field="*{lastName}"
                               required minlength="2" maxlength="20" />
                    </div>

                    <button type="submit" class="btn btn-style btn-primary w-30">Sign Up</button>

            </div>
        </form>

</div>
    </div>

<br><br> <br> <br> <br>
<div th:insert="footer"> </div>
<!-- // footer -->


<script th:src="@{/js/jquery-3.3.1.min.js}"></script> <!-- Common jquery plugin -->

<script th:src="@{/js/theme-change.js}"></script><!-- theme switch js (light and dark)-->

<!-- magnific popup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>
<!-- magnific popup -->

<script src="@{/js/owl.carousel.js}"></script>
<!-- script for tesimonials carousel slider -->
<script>
    $(document).ready(function () {
        $("#owl-demo1").owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 2,
                    nav: false,
                    loop: false
                }
            }
        })
    })
</script>
<!-- //script for tesimonials carousel slider -->

<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- //bootstrap-->
</body>
</html>