<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staff Login Success</title>
    <!-- Google fonts -->
    <link th:href="@{//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap}" rel="stylesheet">

    <link th:href="@{/css/style-starter.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header"> </div>

<!-- //header -->

<section id="home" class="w3l-banner py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row align-items-center py-lg-4 py-md-3">
            <div class="col-lg-6 col-sm-12">
                <h3 class="mb-md-4 mb-3">Staff Login Successful!</h3>
                <p>
                    Please view the service booking list to find new bookings and make sure all services are provided according to the booking time.
                    We should value our clients and offer a personal, professional service.
                    We should provide the best quality services at affordable prices by making our brand a consumers’ first choice for automobile product and service supports.
                    Trust will be gained from consumers through the genuine support.
                </p>

                <div class="mt-sm-5 mt-4">
                    <a class="btn btn-primary btn-style" th:href="@{/list_Book}"> View Booking </a>
                </div>
                <!--
   <h3><a th:href="@{/users_process}">View User</a></h3>
-->
            </div>

        </div>
    </div>
</section>

<div th:insert="footer"> </div>

<!-- //header -->


<script th:src="@{/js/jquery-3.3.1.min.js}"></script> <!-- Common jquery plugin -->

<script th:src="@{/js/theme-change.js}"></script><!-- theme switch js (light and dark)-->

<!-- magnific popup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>
<!-- magnific popup -->

<script src="@{/js/owl.carousel.js}"></script>
<!-- script for tesimonials carousel slider -->
<script>
    $(document).ready(function () {
        $("#owl-demo1").owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 2,
                    nav: false,
                    loop: false
                }
            }
        })
    })
</script>
<!-- //script for tesimonials carousel slider -->

<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- //bootstrap-->

</body>
</html>